.title {
  text-align: center;
  font-size: 60px;
}

.init-form {
  border: 2px solid #f1f1ef;
  border-radius: 10px;
  margin:10px;
}

.form-element {
  padding-left:50px;
  padding-right:50px;
}

.form-title {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 43px;
  font-size: 28px;
  font-weight:bold;
}

.form-title-text {
  margin-left:10px;
  font-size: 28px;
  font-weight:bold;
}

.table {
  margin-left: 30px;
  margin-right:1000px;
  width: 90%;
}

.row {
  padding:10px;
}


.form-button {
  margin-top: 30px;
}

.btn {
  margin-top: -10px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-default.active {
  background-color: #7AB6DD;
}

#create-button {
  margin:30px;
  background-color: #DD7A7A;
}

#join-button {
  margin:30px;
  background-color: #DD7A7A;
}

td {
  text-align: left;
}

.selected-row {
  background-color: #7AB6DD;
}

p {
  font-weight: bold;
  display: inline;
  float: left;
}


