.title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.form-title {
  margin-bottom: 30px;
  font-size: 28px;
}

.form-title-text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.col-xs-4 {
  border: 2px solid #f1f1ef;
  border-radius: 10px;
  margin:10px;
}

.row {
  padding:10px;
}

.form-text {
  margin-top: 30px;
  text-align: left;
  padding-left: 0;
  padding-right: 10px;
}

.form-button {
  margin-top: 30px;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-default.active {
  background-color: #7AB6DD;
}

.submit {
  width: 120px;
/*
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
*/
  background-color: #DD7A7A;
  font-size:20px;
  font-weight: bold;
  font-family: "Helvetica";
  color:black;
}

td {
  text-align: left;
}

.selected-row {
  background-color: #7AB6DD;
}

p {
  font-weight: bold;
  display: inline;
  float: left;
}

.btn-default {
  display: inline;
  float: left;
}

.enter-username {
  width: 500px;
  height: 50px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.username {
  margin-bottom:30px;

}

.tab-pane {
  height: 100%;
  background-color:#F8A500;
}

.nav-tabs .active {
  color:#F8A500;
}
