body {
	font-family: "Helvetica Neue";
}

html {
}
hr {
	border-width: 5px;
	margin-top: 4%;
	border-color: white;
	margin-bottom: 4%;
	width: 100%;
}
	
.card {
	border-style: solid;
	border-width: 5px;
}

.statuscard{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1%;
	margin-left: 1%;
	border-radius: 8px;
	background-color: #aabfde;
	width: 20%; 
	height: 5%;
	text-align: center;
}



#statuscardelement {
	position: relative;
    font-size: 1.5vw;
    font-weight: 700;
    color: white;
}

.deckcard {
	flex-shrink: 1;
	border-radius: 8px;
	border-color: lightgrey;
	background-color: grey;
}
.card-hover {
	border-color: #898989;
}

.row {
	width: 100%;
}



.statuselement {
	text-align: center;
	font-size: 2.3vw;
	font-weight: 800;

}


#formWrapper {
	display: block;
	color: black;
	text-align: center;
	width: 100%;
}

input[type=text] {
    border: black;
    border-radius: 6px;
    background-color: white;
    color: white;
    width: 66%;
    height: 33%;
    font-size: 1.2vw;
    margin: auto;
    padding: 1% 2%;
    display: inline-block;

}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit] {
	display: inline-block;
    background-color: #8da7ca;
    border-radius: 6px;
    border-color: #8da7ca;
    color: white;
    font-size: 1.2vw;
    padding: 1% 2%;
    text-decoration: none;
    margin: auto;
    height: 33%;
}

.chatList {
	display: block;
	color: black;
	width: 100%;
	margin: auto;   
	text-align: left;
	list-style-type: none;
	font-size: 1.1vw;
	padding-left: 10%;
}

.chatList > li {
	margin-left: 10% 0;
}

.feedList {
	display: block;
	color: black;
	padding-left: 25%;
	width: 100%;
	text-align: left;
	list-style-type: none;
	font-size: 1.5vw;

}

.feed {
	align-items: center;
}

.chatList > li {
	margin: 2% 0;
}

.chatbox {
	background-color: white;
	border-radius: 8px;
	width: 90%;
	margin: auto;
	height: 50%;
	margin-top: 3%;

}

#stopwatch {
	font-size: 6vw;

	color: black;
}

#userinfovalue {
	margin-top: 1.5%;
	font-size: 2.2vw;

	color: #fb8383;
}

.deckcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
	height: 25%;
}

.deckcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.overlap{
	margin-left: 2%;
}

.drawn {
margin-left: 4%;
}

.drawncards {
	margin-top: 3%;
	 display: flex;
	 justify-content: center | space-between;
}

.deck {
	display: flex;
	justify-content: center | space-between;
	align-items: center;
	margin-top: 5%;
}

.prompt {
	margin-top:2%;
	text-align: center;
    font-size: 4.2vw;
}

img {
	width: 100%;
	height: 100%;
}

html, body, .wrapper, .row, .screen, .board, .statusbar {
	height: 100%;
}